# chatgpt
openai
tiktoken
tenacity

# bot
python-telegram-bot[webhooks,rate-limiter]
beautifulsoup4

# database
sqlalchemy[asyncio]
sqlalchemy-utils
cryptography
aiosqlite  # async sqlite

# environment
python-dotenv
rich

# REVIEW: temp
langchain
wikipedia
