--extra-index-url https://test.pypi.org/simple/
# bot
chatgpt-mohdfareed
python-telegram-bot[webhooks,rate-limiter]
beautifulsoup4
# database
chromadb
psycopg2-binary
sqlalchemy
sqlalchemy_utils
tenacity
# environment
python-dotenv
rich
