# chatgpt
openai
tiktoken
tenacity

# bot
python-telegram-bot[webhooks,rate-limiter]
beautifulsoup4

# database
sqlalchemy
sqlalchemy-utils
cryptography

# environment
python-dotenv
rich

# temp
langchain
wikipedia
